.homePageBgImage {
  background-image: url(../src/assets/images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.homeCont {
  background-color: rgb(173 42 42 / 56%);
  backdrop-filter: blur(1px);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 10px 10px 10px 10px #000000b5;
}

.homeBtn {
  transition: all linear 0.2s;
}

.homeBtn:hover {
  box-shadow: 0px 0px 33px 26px #00ff59;
}
